extends ../layouts/_layout.jade

block vars
  - page.title = "About"

block content

  .content
    article
      
      h1 hi, i'm eddie!
      p.
        i'm a humble ruby typist
        #[a(href="https://litmus.com/" target="_blank") at Litmus].
        A burgeoning coffee snob with uncanny hand-eye coordination and
        strong opinions, weakly held. freely exchanging ideas, since 1982.
