@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background: url('/images/bg.png') no-repeat center center fixed;
  background-size: cover;
}

footer {
  color: #888;
  font-size: .7em;
  margin: 2em;
  text-align: center;

  .brand {
    display: inline-block;
    height: 32px;
    opacity: .05;
    width: 32px;
  }
}

.nav {
  align-self: flex-start; // flexbox vertically top
  background-color: rgba(255, 255, 255, .1);
  flex: 1 100%;

  ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0 0 0 .25em;
    padding: 0;
  }

  li {
    display: inline;
  }
}

article {
  padding: 0 1em;
}

.box {
  align-items: center; // flexbox vertically center
  display: flex;
  flex-flow: row wrap;
  height: 100vh; // 100% height of the viewport
  justify-content: center; // flexbox horizontally center
}

.hero {
  color: #fff;
  text-align: center;

  .headline a {
    border-radius: 1em;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    padding: .5em;
    text-decoration: none;

    transition: background-color .36s ease,
                color .36s ease;

    &:hover {
      background-color: rgba(255, 255, 255, .15);
      color: #000;
    }
  }

  .tagline {
    animation: fadein 2s;
    font-family: 'Average', serif;
    font-size: 1.35em;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}

.social {
  list-style: none;
  margin: 2em 0 0;
  padding: 0;

  li,
  a {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    border-radius: 50%;
    color: #fff;
    transition: background-color .36s ease,
                color .36s ease;

    &:hover {
      background-color: rgba(255, 255, 255, .33);
      color: #000;
    }
  }
}

.fa {
  line-height: 48px;
  width: 48px;
}

.continue {
  align-self: flex-end; // flexbox vertically bottom
  flex: 1 100%;
  margin-bottom: 1em;
  text-align: center;

  a {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    transition: background-color .36s ease,
                color .36s ease;

    &:hover {
      background-color: rgba(255, 255, 255, .33);
      color: #000;
    }
  }
}
