extends ./layouts/_layout.jade

block vars
  - page.title = "Welcome"

block content

  header
    .nav
      nav
        ul
          li
            i.fa.fa-bars.fa-fw
    .box
      .hero
        h1.headline
          a(href="/this") eddie cianci
        h2.tagline is having a good hair day in this photo
        ul.social
          li
            a(href="https://github.com/defeated" target="_blank")
              i.fa.fa-github.fa-fw.fa-2x
          li
            a(href="https://twitter.com/defeated" target="_blank")
              i.fa.fa-twitter.fa-fw.fa-2x

  article
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero suscipit harum delectus neque dolorum impedit placeat iure provident est molestiae dolores magnam doloribus ipsum mollitia nobis, vero deserunt. Quae, facere!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero suscipit harum delectus neque dolorum impedit placeat iure provident est molestiae dolores magnam doloribus ipsum mollitia nobis, vero deserunt. Quae, facere!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero suscipit harum delectus neque dolorum impedit placeat iure provident est molestiae dolores magnam doloribus ipsum mollitia nobis, vero deserunt. Quae, facere!
